<div class="card card-body">
    <h3>chinh sua bai viet</h3>
    <form action="/posts/{{post._id}}?_method=PUT" method="POST">
        <input type="hidden" name="_method" value="PUT">
        <div class="form-group">
            <label for="title">Tieu de</label>
            <input type="text" class="form-control" name="title" value="{{post.title}}" required>
        </div>
        <div class="form-group">
            <label for="text">Noi dung</label>
            <textarea class="form-control" name="text" required>{{post.text}}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Xac nhan thay doi</button>
    </form>
</div>